:root {
    --tekstkleur: white;
    --afronding: 1rem;
    --AndereWoordenKleur: #ff3ecf;
    --AndereWoordenKleurHover: rgba(252, 57, 203, 0.708);
    --TekstSchaduw: var(--AndereWoordenKleur) 5px 0 10px;
    --afronding: 8px;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

section {
    scroll-snap-align: start;
    height: 100vh;
}

.INTRO {
    width: 100%;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    box-sizing: border-box;
    color: var(--tekstkleur);
    transition: all 1s;
}


/*SCROLL ANIMATION*/
.hidden {
    opacity: 0;
    filter: blur(20px);
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0px);
}

/*STOP SCROLL ANIMATION*/

/*START HOME*/


header {
    line-height: 4rem;
    display: grid;
    grid-template-columns: 30% 70%;
    padding-bottom: 2rem;
    scroll-snap-align: start;
}




nav ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 4rem;
    margin-right: 2rem;
    list-style-type: none;



}

nav ul :hover {
    border-bottom: solid 1px;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-delay: 0.2s;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 2rem;

}

.hier {
    border: var(--AndereWoordenKleur) solid 1px;
    background-color: var(--AndereWoordenKleur);
    border-radius: var(--afronding);
    color: black;
    font-size: 1.2rem;
}





















.FirstImage {
    width: 100%;
    padding-bottom: 5vh;
}



.Line {
    color: var(--AndereWoordenKleur);
    text-decoration: underline;
}


main section .Quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    font-family: 'Abril Fatface', serif;
    font-weight: 100;
    height: 100vh;
    text-shadow: var(--TekstSchaduw);
    text-align: center;
}



main .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15vh;
}

.Share_Happiness {
    font-size: 2rem;
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    letter-spacing: 0.5rem;
    text-shadow: var(--TekstSchaduw)
}



.SocialButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 15vh;
}

.SocialButtons li {
    list-style-type: none;
}

.SocialButtons li a img {
    margin-top: 2rem;
    border-radius: var(--afronding);
    filter: brightness(0.5);
    background-color: var(--AndereWoordenKleurHover);
}

.SocialButtons li a img:hover {
    border-radius: var(--afronding);
    filter: brightness(1);
    background-color: var(--AndereWoordenKleurHover);

}

.ShareSocial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ShareSocial h2 {
    font-size: 2rem;
}




/*STOP HOME*/

/*AGENDA TAB*/


.wrapper {
    max-width: 75em;
    margin: 0px auto;
    padding: 0.5em;

}

.agendapunten article {
    position: relative;
    height: 8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.3rem;
    border-bottom-right-radius: 3rem;
    border-top-left-radius: 3rem;
}

article svg {
    position: absolute;
    top: 20px;
    right: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;

}





section.agendapunten {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4em;
    color: var(--AndereWoordenKleur);
    height: 50vh;
    margin: 0rem 1rem 0rem 1rem;
    margin-bottom: 30vh;
}

.agendapunten article {
    border: #ff3ecf solid 1px;
}

/*STOP AGENDA TAB*/

/*START ADD TAB*/




.AddToAgenda {
    display: flex;
    flex-direction: column;
}


form {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    background: black;
    padding: 1em 1em 0 1em;
    border-radius: var(--afronding);
}

.add #Datum {
    color: var(--AndereWoordenKleur);
}

.add #Artiest {
    color: var(--AndereWoordenKleur);
}

input {
    padding: 10px;
    margin-bottom: 1.5em;
    color: var(--AndereWoordenKleur);
    background-color: black;
}

p.succes {
    color: var(--AndereWoordenKleur);
    margin-bottom: 2em;
}


/*STOP ADD TAB*/
























/*START FOOTER*/

.WholeFooter {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: space-evenly;
    scroll-snap-align: start;
}



.foot p {
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
    padding: 1rem;
}

.foot p:hover {
    color: var(--AndereWoordenKleurHover);
    text-decoration: underline;
    cursor: pointer;
}

.FootRights {
    display: flex;
    color: grey;
    justify-content: space-between;
    margin: 1rem;
}


/*STOP FOOTER*/








/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}





/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


@media (max-width: 45em) {

    main section .Quote {
        font-size: 0.8rem;
        text-align: center;
    }

    .WholeFooter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        text-align: center;
    }

    .foot p {
        font-size: 1.2rem;
    }

    section.agendapunten {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3em;
        height: 50vh;

    }

    .agendapunten article {
        border: #ff3ecf solid 1px;
        padding-bottom: 2rem;
    }
}


@media (max-width: 30em) {

    .Logo {
        text-align: center;
    }


    header {
        display: flex;
        flex-direction: column;
    }

    header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    header nav li {
        border: var(--AndereWoordenKleur) solid 1px;
        border-radius: var(--afronding);
    }


    main section .Quote {
        font-size: 1rem;
        text-align: center;
    }



    .Share_Happiness {
        font-size: 1.5rem;
    }







    .ShareSocial {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ShareSocial h2 {
        font-size: 1.3rem;
    }


    section.agendapunten {
        display: flex;
        flex-direction: column;
        gap: 3em;
        height: 50vh;
        margin: 0rem 2rem 0rem 2rem;
    }





    .WholeFooter {
        display: flex;
        flex-direction: column;
    }

    .foot p {
        font-size: 1rem;
    }


    section.citaten {
        grid-template-columns: 1fr;
    }
}